<%- include("../partials/header") %>

<div class="container mt-4 mt-md-5">
	<div class="row">
		<div class="col-md-5 mb-4">
			<div class="resp-img pro-show" style="background-image:url('<%= product.image %>')"></div>
		</div>
		<div class="col-md-7">
			<h5><%= product.name %></h5>

			<% if(currentUser && currentUser.username=='admin') { %>
				<div class="my-3">
					<a href="/products/<%= product._id %>/edit"><button class="btn btn-sm btn-warning">Edit</button></a>
					<form action="/products/<%= product._id %>?_method=DELETE" method="POST" class="d-inline-block">
						<button class="btn btn-sm btn-danger">Remove</button>
					</form>
				</div>
			<% } %>

			<div class="card p-3 my-4">
				<h6>Description</h6>
				<p>This will be the product description.</p>
			</div>
			
			<h5>
				<span class="mr-1">₹<%= product.price %></span>
				<span class="nowrap">
					<span class="mrp mr-1">₹<%= product.mrp %></span>
					<span class="disc"><%= product.disc_perc %>% off</span>
				</span>
			</h5>

			<h6>
				<% if(currentUser && currentUser.cart.items.some(function(cartItem){ 
					  return cartItem.product._id.equals(product._id); 
				   })) { %>
							<a href="/cart"><button class="btn btn-primary mr-2">Go to cart</button></a>
				<% } else { %>
							<a href="/cart/new/<%= product._id %>/show"><button class="btn btn-primary mr-2">Add to cart</button></a>
				<% } %>
				<span class="disc nowrap">Save ₹<%= product.discount %></span>
			</h6>

			<div class="card my-5">
				<div class="card-body">
					<div class="float-right">
						<a href="/products/<%= product._id %>/reviews/new" class="btn btn-sm btn-success">Leave a Review</a>
					</div>
					<h5>Customer Reviews</h5>
					<% product.reviews.forEach(function(review){ %>
						<hr>
						<div class="float-right opac ml-2"><%= review.user %>, <%= review.date.toDateString() %></div>
						<h6><%= review.title %></h6>
						<p><%= review.text %></p>
						<% if(currentUser && currentUser.username==review.user) { %>
							<div>
								<a href="/products/<%= product._id %>/reviews/<%= review._id %>/edit"><button class="btn btn-sm btn-warning">Edit</button></a>
								<form action="/products/<%= product._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" class="d-inline-block">
									<button class="btn btn-sm btn-danger">Remove</button>
								</form>
							</div>
						<% } %>
					<% }); %>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>